<div ng-controller="containerCtrl">

    <div ng-controller="itemCtrl" style="float: right;">
        <button ng-click="showNewOptModal()">Item Options</button>
        <div ng-if="addingItemOpt">
            <create-item></create-item>
        </div>
    </div>

    <button type="submit" ng-click="newContainer()">NEW</button>
    <h4>
        CONTAINERS
    </h4>

    <div>
        <ul>
            <div ng-repeat="containerObj in containers" class="container">
                <container-div></container-div>
            </div>
        </ul>
    </div>
</div>
