<!-- 'Data' comes from parent scope (Container) -->
<div ng-controller="itemCtrl">
    <div ng-hide="data.item.name" class="item">
        <button ng-click="createItemOpt()" class="add-item">Add Item</button>

        <div ng-if="addingItem">
            <!-- <h3>Item being Added!!!</h3> -->
        </div>
    </div>

    <div ng-if="data.item.name" class="item">
        <button ng-click="deleteItem(data)">Delete Item</button>
        <h4>{{data.item.name}}</h4>

        <record></record>
    </div>
</div>