<div ng-controller="archiveCtrl">


    <table>
        <tr>
            <th>Item</th>
            <th>Date Archived</th>
            <th>container</th>
            <th>Delete</th>
            <th>Expand</th>
        </tr>
        <tbody>
            <tr ng-repeat-start="item in archiveSvc.archive track by $index">
                <td>{{item.name}}</td>
                <td>{{item.dateCreated}}</td>
                <td>{{item.container}}</td>
                <td>{{item.records}}</td>
                <td><button ng-click="archiveSvc.deleteArchiveItem($index)">Delete</button></td>
                <td ng-show="item.records.length > 0 && !item.expanded"><button ng-click="expand(item)">Expand</button></td>
                <td ng-show="item.records.length > 0 && item.expanded"><button ng-click="expand(item)">Hide</button></td>
                <td ng-hide="item.records.length > 0">No Records</td>
            </tr>
            
            <tr ng-repeat-end ng-show="item.expanded">
                <td>
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Data 1</th>
                            <th>Data 2</th>
                            <th>Data 3</th>
                        </tr>
                        <tbody>
                            <tr ng-repeat="record in item.records">
                                <td>{{record.dateCreated}}</td>
                                <td>{{record.name}}</td>
                                <td>{{record.data1}}</td>
                                <td>{{record.data2}}</td>
                                <td>{{record.data3}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


</div>