<div ng-controller="archiveCtrl">

    <p>{{testStr}}</p>

    <table>
        <tbody>
            <tr>
                <th>Item</th>
                <th>Date Archived</th>
                <th>Data 1</th>
                <th>Expand..</th>
            </tr>
            <tr ng-repeat="item in archiveSvc.archive track by $index">
                <td>{{item.name}}</td>
                <td>{{item.dateCreated}}</td>
                <td>{{item.data1}}</td>
                <td><button ng-click="archiveSvc.deleteArchiveItem($index)">Click..</button></td>
            </tr>
        </tbody>
    </table>
</div>